<!-- templates/login.html -->
<html>
    <head>
        <title>Handling of http get and post requests</title>
        <style>
            div {
                width: 400px;
                border: 1px solid green;
                padding: 10px;
                margin-bottom: 5px;
            }
        </style>
    </head>
    <body>
        <div>
            <!-- url_for will route the forms request to appropriate
            function that user made to handle it. -->
            <!-- We will retrieve submitted values of inputs
            on the backend side using 'name' field of form. -->
            <h1>Handle GET Request</h1>
            <form method="GET"
                  action = "{{ url_for('handle_get') }}">
                  <input type="text"
                         name="username"
                         placeholder="Username">
                  <input type="password"
                         name="password"
                         placeholder="Password">
                  <button type="submit">submit</button>
            </form>
        </div>
        <div>