<html>
    <head>
        <script type = "text/javascript"
            src = "{{ url_for('static', filename = 'hello.js' )}}" ></script>
    </head>

    <body>
        <input type = "button" onclick = "sayHello()" value = "Say Hello" />
        <form action = "http://localhost:5000/uploader" method = "POST" enctype="multipart/form-data"></form>
            <p><h3>Enter userID</h3></p>
            <p><input type = 'text' name = 'nm'/></p>
            <p><input type = 'submit' value = 'Login'/></p>
        </form>
    </body>
</html>

